extends layout

block content
  <div class='centering_div'>
  <div class='bounding_div'>
  h1 PushIt.online
  p The simple way to host your prototypes:

  pre npm install -g pushit.online
  pre pushit &lt;file or directory&gt;





  p Don't abuse this service.
  </div>
  </div>