body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: url(/public/images/caveman.jpg);
  background-size: 50%;
}

a {
  color: #00B7FF;
}

.centering_div{
  text-align:center;
}
.bounding_div {
  display:inline-block;
  width: auto;
  text-align:left;
}